.show_area{
    width:800px;
    height:600px;
    position:absolute;
    padding:10px;
    border:1px solid #000;

}
.sa-rant{
    float:left;
    width:174px;
    height:174px;
    border: 1px solid #c0c0c0;
    margin:12px;
}
l.sa-rant-img{
    border:1px solid #c0c0c0;
    width:130px;
    height:130px;
}
.sa-rant-img{
    position:absolute;
    margin:10px 21px 21px 21px;
}

p.label{
    position:relative;
    top:130px;
    text-align:center;
    width:174px;
}